<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>Screen Comparison Report</title>
</head>
<body>
<div class="container">
    <h1>Screen Comparison Report</h1>
    <div class="row">
        <div class="col-3"><strong>Start Time:</strong></div>
        <div class="col-3">{{time}}</div>
    </div>
    {% for item in result_data %}
    <p></p>
    <h2>{{ item.name }}</h2>
    <p></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ScreenName</th>
            <th scope="col">Difference, %</th>
            <th scope="col">NewScreen</th>
            <th scope="col">OldScreen</th>
            <th scope="col">DifScreen</th>
			<th scope="col">Metadata</th>
        </tr>
        </thead>
        <tbody>
        {% for row in item.rows %}
        <tr>
            <td>{{ row.screen_name }}</td>
            <td>{{ row.difference}}</td>
            <td><a href="{{ row.new_screen }}" target="_blank"><img src="{{ row.new_screen }}" class="img-fluid"
                                                                    alt="{{ row.new_screen }}"/></a></td>
            <td><a href="{{ row.old_screen }}" target="_blank"><img src="{{ row.old_screen }}" class="img-fluid"
                                                                    alt="{{ row.old_screen }}"/></a></td>
            <td><a href="{{ row.diff_screen }}" target="_blank"><img src="{{ row.diff_screen }}" class="img-fluid"
                                                                     alt="{{ row.diff_screen }}"/></a></td>
			<td>
			{% if row.metadata %} 
				<details>
					<summary>Meta</summary>
					<p>{{ row.metadata }}</p>
				</details> 
			{% endif %}
			<td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    {% if additional_data %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">File</th>
            <th scope="col">Warnings</th>
            <th scope="col">Pictures count</th>
        </tr>
        </thead>
        <tbody>
        {% for item in additional_data %}
        <tr>
            <td><a href="{{ item.filename }}.html" target="_blank"><img src="{{ item.filename }}" class="img-fluid"
                                                                   alt="{{ item.filename }}"/></a></td>
            <td>{{ item.warnings }}</td>
            <td>{{ item.pictures }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endif %}
</div>
</body>
</html>
